VITE_API_URL=https://api.douniamarket.com/api
SITE_URL=https://douniamarket.com
NUXT_PUBLIC_AI_API_URL=https://ai.douniamarket.com

NUXT_PUBLIC_MEILISEARCH_HOST=https://search.douniamarket.com
NUXT_PUBLIC_MEILISEARCH_KEY=search_only_key_replace_me
